<section>
    <h2>Reactive: Switches</h2>
    <hr />
</section>

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Gender</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="radio" value="M" id="radioMale" formControlName="gender">
                <label class="form-check-label" for="radioMale">
                    Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="F" id="radioFemale" formControlName="gender">
                <label class="form-check-label" for="radioFemale">
                    Female
                </label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notifications</label>
        <div class="col-sm-9">

            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" formControlName="wantNotifications">
                <label class="form-check-label" for="flexSwitchCheckChecked">
                    I want to receive notifications.
                </label>
            </div>

        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="flexCheckDefault" formControlName="termsAndConditions">
                <label 
                    [class.text-danger]="formUtils.isValidField(myForm, 'termsAndConditions')"  
                    class="form-check-label" 
                    for="flexCheckDefault"
                >
                    Terms and Conditions of Use
                </label>
            </div>
            @if (formUtils.isValidField(myForm, 'termsAndConditions')) {
                <span class="form-text text-danger">
                    You must accept the terms of use.
                </span>
            }
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" type="submit">
                Save
            </button>
        </div>
    </div>
</form>

<section>
    <h5>Form value</h5>
    <pre>{{ myForm.value | json }}</pre>
    <br>

    <h5>Person</h5>
    <pre>{{ myForm.controls['gender'].value | json }}</pre>
    <br>

    <h5>Valid</h5>
    <pre>{{ myForm.valid| json }}</pre>
</section>

<!-- <h5>Términos</h5> -->
<!-- <pre>{{ myForm.controls?.terminos?.errors | json }}</pre> -->

<!-- <br> -->