<section>
    <h1>Selectors</h1>
    <hr />
</section>

<form [formGroup]="myForm">
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Region:</label>
            <select formControlName="region" class="form-control">
                <option value="">-- Select a Region --</option>
                @for (region of regions(); track region) {
                <option [value]="region">
                    {{ region }}
                </option>
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Country:</label>
            <select formControlName="country" class="form-control">
                <option value="">-- Select a Country --</option>
                @for (country of countriesByRegion(); track country.codes.alpha_2) {
                    <option [value]="country.codes.alpha_2">
                        {{ country.names.common }}
                    </option>
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Borders:</label>
            <select formControlName="borders" class="form-control">
                <option value="">-- Select a Border --</option>


                <!-- <option [value]="country.cca3">
          {{ country.name }}
        </option> -->
            </select>
        </div>
    </div>

</form>

<section>
    <h3>Form</h3>
    <code>
        {{ 'myForm.value' | json }}
    </code>
    <p>is form valid: {{ myForm.valid }}</p>
</section>