<section>
    <h2>Reactive: Basic</h2>
    <hr>
</section>

<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Product</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Name" formControlName="name">
                    @if (formUtils.isValidField(myForm,'name')) {
                        <span class="form-text text-danger">
                            {{formUtils.getFieldError(myForm,'name')}}
                        </span>
                    }
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="Price" formControlName="price">
                    @if (formUtils.isValidField(myForm, 'price')) {
                        <span class="form-text text-danger">
                            {{formUtils.getFieldError(myForm, 'price')}}
                        </span>
                    }
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Stock</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="Stock" formControlName="stock">
                    @if (formUtils.isValidField(myForm, 'stock')) {
                        <span class="form-text text-danger">
                            {{formUtils.getFieldError(myForm, 'stock')}}
                        </span>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">
                        Save
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ myForm.valid | json }}</pre>

        <span>Pristine</span>
        <pre>{{ myForm.pristine| json }}</pre>

        <span>Touched</span>
        <pre>{{ myForm.touched| json }}</pre>

        <span>Value</span>
        <pre>{{ myForm.value| json }}</pre>

        <span>Errors</span>
        <pre>{{ myForm.controls['name'].errors| json }}</pre>

        <span>Price</span>
        <pre>{{ myForm.controls['price'].value | json }}</pre>

        <span>Product</span>
        <pre>{{ myForm.controls['name'].value | json }}</pre>
    </div>
</div>